<ion-view>
	<style>
		.approximations-main .item-divider{
			background-color: #ff8651;
			height: 50px;
			color: #fff;
			text-align: center;
			line-height: 50px;
			padding: 0;
		}
		.approximations-main .item-stacked-label{
			border: none;
		}
		.approximations-main .item-stacked-label{
			padding: 0;
		}
		.approximations-main .app-mankind{
			border-bottom: 1px solid #e6e6e6;
		}
		.approximations-main .padding{
			padding: 0 20px 20px;
		}
		.approximations-main .item-stacked-label .input-label{
			padding-left: 10px;
			margin: 10px 0;
			background: #fff url(img/icon/ico_52.png) left center no-repeat;
			-webkit-background-size: 20px;
			background-size:auto 20px;
		}
		.approximations-main  .app-title input{
			border: 1px solid #e6e6e6;
			border-radius: 4px;
			padding-left: 5px;
		}
		.approximations-main  .app-content textarea{
			border: 1px solid #e6e6e6;
			border-radius: 4px;
			padding-left: 5px;
		}
		.approximations-main .app-note .radiobox{
			width: 20px;
			height: 20px;
			border: 1px solid #e6e6e6;
			border-radius: 4px;
			display: inline-block;
		}
	</style>
	<ion-header-bar align-title="center">
		<button class="button button-clear"  ng-click="goBack()"><i class="icon ion-ios-arrow-back"></i></button>
		<h1 class="title">约稿</h1>
	</ion-header-bar>
	<ion-content overflow-scroll="false" has-bouncing="true" >
        <div class="card approximations-main">
          	<div class="item item-divider">
            	五桂山：酒店楼顶 一女子情绪激动欲跳楼
          	</div>
      		<div class="list padding">
      		  <label class="item item-input item-stacked-label app-mankind">
      		    <span class="input-label">收件人</span>
      		    <input type="text" placeholder="John">
      		  </label>
      		  <label class="item item-input item-stacked-label app-title">
      		    <span class="input-label">标题</span>
      		    <input type="text" placeholder="Suhr">
      		  </label>
      		  <label class="item item-input item-stacked-label app-content" style="border-top: none;">
      		    <span class="input-label">发信内容</span>
      		    <textarea placeholder="Comments" rows="7"></textarea>
      		  </label>
      		  <label class="item item-input item-stacked-label app-note">
      		    <span class="input-label">是否发送手机短信：</span>
      		    <div >
      		    	<label class="radio">
      		    		<div class="radiobox"><i ng-class="{true:'ion-checkmark-round',false:''}[user.note==1]" ></i></div>
      		    	  	<input type="radio" name="note" value="1" ng-model="user.note" ng-init="note=1" style="display: none">是
      		    	</label>
      		    	<label class="radio">
      		    		<div class="radiobox"><i ng-class="{true:'ion-checkmark-round',false:''}[user.note==0]" ></i></div>
      		    	  	<input type="radio" name="note" value="0" ng-model="user.note" ng-init="note=0" style="display: none">否
      		    	</label>
      		    </div>
      		  </label>
      		</div>
        </div>
        <div class="padding">
        	<button class="button button-block" style="background-color: #ff8651;">
        		确定
        	</button>
        	<button class="button button-block" style="background-color: #a6a6a6;">
        	  	取消
        	</button>
        </div>
	</ion-content>
</ion-view>