<ion-view>
	<style>
		.approximations-main .item-divider{
			background-color: #ff8651;
			height: 50px;
			color: #fff;
			text-align: center;
			line-height: 50px;
			padding: 0;
		}
		.approximations-main .item-stacked-label{
			border: none;
		}
		.approximations-main .item-stacked-label{
			padding: 0;
		}
		.approximations-main .app-mankind{
			border-bottom: 1px solid #e6e6e6;
		}
		.approximations-main .app-mankind input{
			padding-left: 5px;
		}
		.approximations-main .padding{
			padding: 0 20px 20px;
		}
		.approximations-main .item-stacked-label .input-label{
			padding-left: 10px;
			margin: 10px 0;
			background: #fff url(img/icon/ico_52.png) left center no-repeat;
			-webkit-background-size: 20px;
			background-size:auto 20px;
		}
		.approximations-main  .app-title input{
			border: 1px solid #e6e6e6;
			padding: 0;
			border-radius: 4px;
			padding-left: 5px;
		}
		.approximations-main  .app-content textarea{
			border: 1px solid #e6e6e6;
			border-radius: 4px;
			padding-left: 5px;
		}
		.approximations-main .app-note .radiobox{
			width: 20px;
			height: 20px;
			border: 1px solid #e6e6e6;
			border-radius: 4px;
			display: inline-block;
			color: #ffffff;
			text-align: center;

		}
		.approximations-main .app-note .radiobox.active{
			background-color: #ff8651;
		}
		.approximations-btn .right-btn{
			background-color: #ff8651;
			color: #ffffff;
		}
		.approximations-btn .cancel-btn{
			background-color: #a6a6a6;
			color: #ffffff;
		}
	</style>
	<ion-header-bar align-title="center">
		<button class="button button-clear"  ng-click="goBack()"><i class="icon ion-ios-arrow-back"></i></button>
		<h1 class="title">划题</h1>
	</ion-header-bar>
	<ion-content overflow-scroll="false" has-bouncing="true" >
        <div class="card approximations-main">
          	<div class="item item-divider">
            	{{title}}
          	</div>
      		<div class="list padding">
      		  	<label class="item item-input item-stacked-label app-content">
      		    	<span class="input-label">正文：</span>
      		  	</label>
      		  	<div  class="content" >
      		  		<ion-scroll zooming="true" direction="y" style="width: 100%;
												      		  		 height: 200px;
												      		  		 border: 1px solid #e6e6e6;
												      		  		 border-radius: 4px;
												      		  		 overflow: hidden;
												      		  		 padding: 5px;">
      		  		  <div ng-bind-html="content" style="color: #a6a6a6;"></div>
      		  		</ion-scroll>
      		  	</div>
      		  	<label class="item item-input item-stacked-label app-content">
      		    	<span class="input-label">划题说明</span>
      		    	<textarea ng-model="user.note" placeholder="" rows="7"></textarea>
      		  	</label>
      		  	<div class="item item-input item-stacked-label app-note">
      		    	<span class="input-label">划题和不通过：</span>
      		    	<div >
	      		    	<label class="radio" style="margin-right:10px;">
	      		    		<div class="radiobox" ng-class="{true:'active',false:''}[user.status==1]"><i class="ion-checkmark-round" ></i></div>
	      		    	  	<input type="radio" name="status" value="1" ng-model="user.status" ng-init="status=1" style="display: none">划题
	      		    	</label>
	      		    	<label class="radio">
	      		    		<div class="radiobox" ng-class="{true:'active',false:''}[user.status==2]"><i class="ion-checkmark-round" ></i></div>
	      		    	  	<input type="radio" name="status" value="2" ng-model="user.status" ng-init="status=2" style="display: none">不通过
	      		    	</label>
      		    	</div>
      			</div>
      		</div>
        </div>
        <div class="padding approximations-btn" >
        	<button class="button button-block right-btn" ng-click="submit()">
        		确定
        	</button>
        </div>
	</ion-content>
</ion-view>