<ion-view  view-title="北京电视台">
  	<ion-header-bar align-title="center">
  		<button class="button button-clear"  ng-click="goBack1()"><i class="icon ion-ios-arrow-back"></i></button>
  	  	<h1 class="title">北京电视台</h1>
  	  	<button class="button button-clear"  ng-click="jumpTo()"><i class="icon ion-ios-gear-outline"></i></button>
  	</ion-header-bar>
	<div class="list card">

	  <div class="item item-avatar">
	    <img src="./img/myself_02.jpg">
	    <h2>Pretty Hate Machine</h2>
	    <p>
			<ion-list>
			  <ion-item>
			    I love kittens!
			    <ion-option-button class="button-positive">Share</ion-option-button>
			    <ion-option-button class="button-assertive">Edit</ion-option-button>
			  </ion-item>

			</ion-list>
	    </p>
	  </div>
	</div>
	<ion-list>
	  <ion-item>
	    I love kittens!
	    <ion-option-button class="button-positive">Share</ion-option-button>
	    <ion-option-button class="button-assertive">Edit</ion-option-button>
	  </ion-item>

	</ion-list>

</ion-view>