<ion-view  view-title="北京电视台" style="background-color: #fafafa;">
  	<ion-header-bar align-title="center">
  		<button class="button button-clear"  ng-click="goBack1()"><i class="icon ion-ios-arrow-back"></i></button>
  	  	<h1 class="title">北京电视台</h1>
  	</ion-header-bar>
  	<ion-content class="padding" overflow-scroll="false" has-bouncing="true" >
		<div class=" card">
		  <div class="item item-avatar">
		    <img src="./img/myself_02.jpg">
		    <h2>孙山杉</h2>
		    <div>
				<ion-list>
				  <ion-item>
				  	<span>黑龙江省哈尔滨市~中央台黑龙江站</span><br />
				  	<span>临时名片盒</span><br />
				  	<span>131300668564</span>
				    <ion-option-button class="">Share</ion-option-button>
				    <ion-option-button class="">Edit</ion-option-button>
				  </ion-item>
				</ion-list>
		    </div>
		  </div>
		</div>
		<div class=" card">
		  <div class="item item-avatar">
		    <img src="./img/myself_02.jpg">
		    <h2>孙山杉</h2>
		    <div>
				<ion-list>
				  <ion-item>
				  	<span>黑龙江省哈尔滨市~中央台黑龙江站</span><br />
				  	<span>临时名片盒</span><br />
				  	<span>131300668564</span>
				    <ion-option-button class="">Share</ion-option-button>
				    <ion-option-button class="">Edit</ion-option-button>
				  </ion-item>
				</ion-list>
		    </div>
		  </div>
		</div>
		<div class=" card">
		  <div class="item item-avatar">
		    <img src="./img/myself_02.jpg">
		    <h2>孙山杉</h2>
		    <div>
				<ion-list>
				  <ion-item>
				  	<span>黑龙江省哈尔滨市~中央台黑龙江站</span><br />
				  	<span>临时名片盒</span><br />
				  	<span>131300668564</span>
				    <ion-option-button class="">Share</ion-option-button>
				    <ion-option-button class="">Edit</ion-option-button>
				  </ion-item>
				</ion-list>
		    </div>
		  </div>
		</div>
	</ion-content>
</ion-view>