<ion-view hide-tabs="true">
    <style>
        .cart {
            min-height: 100px;
        }
        
        .item-body p {
            margin: 7px 0;
        }
        
        .history-list>li {
            font-size: 12px;
        }
        
        .history .title>div {
            text-align: center;
            display: inline-block;
        }
        
        .history .user,
        .history .date,
        .history .add,
        .history .tag {
            overflow: hidden;
            white-space: pre-wrap;
            vertical-align: text-top;
        }
        
        .history .user {
            width: 25%;
        }
        
        .history .date {
            width: 30%;
            text-align: center;
        }
        
        .history .add {
            width: 13%;
            text-align: center;
        }
        
        .history .tag {
            width: 32%;
            text-align: center;
        }
        
        .history .title>div {
            color: #ff8651;
            font-size: 12px;
            font-weight: 700;
            white-space: nowrap;
        }
        
        .history-list>li span {
            display: inline-block;
        }
        
        .history-list>li span:last-child {
            margin-right: 0px;
        }
        
        .my-video {
            margin-bottom: 10px;
        }
    </style>
    <ion-header-bar align-title="center">
        <button class="button button-clear" ng-click="goBack()"><i class="icon ion-ios-arrow-back"></i></button>
        <h1 class="title">新闻详情</h1>
    </ion-header-bar>
    <ion-content overflow-scroll="false" has-bouncing="false">
        <div>
            <div class="card">
                <div class="item item-avatar">
                    <img ng-src="{{details.data.avatar}}">
                    <h2 style="color: #ff8651;margin-bottom: 6px;">{{details.data.title}}</h2>
                    <p>{{details.data.dateline}}</p>
                </div>
            </div>
            <div class="card padding">
                <div class="item item-icon-right" style="color: #fe3434;padding-left: 8px;">
                    视频
                    <i class="icon"><img src="img/icon/ico_57.png" height="20" alt=""></i>
                </div>
                <div class="item item-body" style="padding: 0 5px 5px;">
                    <h2 style="font-weight: 700;">约稿：{{details.data.tags}}</h2>
                    <p>发布时间：{{details.data.dateline||'--'}}</p>
                    <p>分类：{{details.data.typetitle||'--'}}</p>
                    <p style="color: #ff8651;">发布单位：{{details.data.tv_name}}</p>
                    <p ng-if="!details.data.videos">视频：暂无</p>
                    <div class="my-video" ng-if="details.data.videos" ng-repeat="video in videos">
                        <div class="videogular-container">
                            <videogular vg-theme="video.config.theme">
                                <vg-media vg-src="video.config.sources" vg-tracks="video.config.tracks">
                                </vg-media>

                                <vg-controls vg-autohide="true" vg-autohide-time="2000">
                                    <vg-play-pause-button></vg-play-pause-button>
                                    <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                                    <vg-scrub-bar>
                                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                    </vg-scrub-bar>
                                    <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                                    <vg-volume>
                                        <vg-mute-button></vg-mute-button>
                                        <vg-volume-bar></vg-volume-bar>
                                    </vg-volume>
                                    <vg-fullscreen-button></vg-fullscreen-button>
                                </vg-controls>

                                <vg-overlay-play></vg-overlay-play>
                                <vg-poster vg-url='video.config.plugins.poster'></vg-poster>
                            </videogular>
                        </div>

                        <p>文件大小：{{video.size | videoSize}}M</p>
                        <p>上传时间：{{video.date || '--'}}</p>
                        <p>上传速度：{{video.files || '--'}}kb/s</p>
                        <p>视频格式：{{video.ext || '--'}}</p>
                    </div>
                </div>
                <!-- <div style="text-align: center;padding-top: 4px;">
					<a class="button button-small button-icon icon ion-arrow-down-b" style="color: #9e9e9e;"></a>
				</div> -->
            </div>
            <div class="card padding" ng-if="details.data.pics">
                <div class="item item-icon-right" style="color: #fe3434;padding-left: 8px;">
                    图片
                    <i class="icon"><img src="img/icon/ico_58.png" height="20" alt=""></i>
                </div>
                <div class="item item-body" style="padding: 5px 5px;border:none;">
                    <img class="" width="100%" ng-repeat="item in details.data.pics" ng-src="{{item.savepath}}" style="border-radius: 2px;">
                </div>
                <!-- <div style="text-align: center;padding-top: 4px;">
					<a class="button button-small button-icon icon ion-arrow-down-b" style="color: #9e9e9e;"></a>
				</div> -->
            </div>
            <div class="card padding">
                <div class="item item-icon-right" style="color: #ff8651;padding-left: 8px;">
                    正文
                </div>
                <div class="item item-body">
                    <h2 style="color: #3d3d3d;">{{details.data.title}}</h2>
                    <p style="color: #9e9e9e;padding: 10px;" ng-bind-html="content"></p>
                </div>
            </div>
            <div class="history padding">
                <div ng-if="historyData.length">
                    <ul class="list history-list">
                        <div class="title item item-divider">
                            <div class="user">查看人</div>
                            <div class="date">日期</div>
                            <div class="add">来源</div>
                            <div class="tag">来源标识</div>
                        </div>
                        <li class="item" ng-repeat="item in historyData">
                            <span class="user">{{item.name}}</span>
                            <span class="date">{{item.datetime}}</span>
                            <span class="add">{{item.source}}</span>
                            <span class="tag">{{item.source_key}}</span>
                        </li>
                    </ul>
                    <p ng-if="historyData.length==0">暂无</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>