<ion-view>
	<ion-header-bar align-title="center">
		<button class="button button-clear"  ng-click="goBack()"><i class="icon ion-ios-arrow-back"></i></button>
		<h1 class="title">已播单</h1>
	</ion-header-bar>
	<ion-content overflow-scroll="false" has-bouncing="false" >
		<ion-list>
        	<div class="card">
        	    <label class="item item-input" style="padding: 0 0 0 16px">
        	      <i class="icon ion-ios-search placeholder-icon" style="font-size: 22px;"></i>
        	      <input type="text" ng-model="searchs" ng-change="getDetails(searchs)" placeholder="标题关键字">
        	    </label>
        	</div>
			<div class="card report" ng-repeat="item in details">
				<div class="item item-body">
					<h2 class="report-title">{{item.bochu_title}}</h2>
					<p class="origin_text">原文标题：{{item.title}}</p>
					<div style="padding-top: 6px;border-top: 1px solid #e6e6e6;">
						<div style="line-height: 24px;">播出栏目：<span style="color: #a6a6a6;">{{item.bochu_lanmu}}</span></div>
						<div style="line-height: 24px;">播出时间：<span style="color: #a6a6a6;">{{item.dateline}}</span></div>
						<div style="line-height: 24px;">发布单位：<span style="color: #ff8651;">{{item.tv_name}}</span></div>
					</div>
				</div>
			</div>
        </ion-list>
		<ion-infinite-scroll immediate-check="" ng-if="noMore" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
	</ion-content>
</ion-view>