<ion-view>
	<style>
		.pedata-top{
			width: 100%;
			min-height: 30%;
			background: url(img/bg2.jpg) 0 0 no-repeat;background-size: 100% 100%;
		}
		#pedata-portrait{
			padding: 30px 0;
		}
		#pedata-portrait img{
			width: 100px;height: 100px;
			border-radius: 50%;
			margin: 0 auto;
			display: block;
		}
		#pedata-txt{
			text-align: center;
		}
		#pedata-txt button{
			background: url(img/icon/ico_54.png) left center no-repeat;
			color: #fff;
			width: 100px;
		}
		#pedata-txt button:last-child{
			background-image: url(img/icon/ico_55.png);
		}
		.card{
			margin: 20px 0;
		}
		.card .item{
			margin-left: 10px;
			margin-right: 10px;
		}
		.popup-body .disable-user-behavior .list .item{
			border:none;
			border-bottom: 1px solid #ddd;
			margin: 0;
		}
		.popup-body .disable-user-behavior .list label:last-child{
			border:none;
		}
		.popup-head{
			border-bottom: none;
		}
		.popup-sex .popup-body,.popup-type .popup-body{
			padding: 10px 0;
		}

		.popup-city_cn .popup-body{
			padding: 0;
		}
		.popup-type .popup-body{
			
		}
		.ion-ios-circle-filled{
			color: red
		}
		.add-checkbox{
			width: 20%;
			float: left;
			padding: 3px;
			color: #717167;
		}
		.add-checkbox span{
			margin: 0 auto;
			text-align: center;
			display: block;
			font-size: 12px;
			overflow: hidden;
			white-space: nowrap;
		}
		.add-checkbox-actived span{
			border-radius: 3px;
			background-color: #fe4342;
			color: #fff;
			
		}
	</style>
	<ion-header-bar align-title="center">
		<button class="button button-clear"  ng-click="goBack()"><i class="icon ion-ios-arrow-back"></i></button>
		<h1 class="title">个人中心</h1>
	</ion-header-bar>
	<ion-content overflow-scroll="false" has-bouncing="true" >
			<div class="pedata-top padding">
				<div id="pedata-portrait">
					<div class="img">
						<img ng-src="{{dataInit.avatar}}" width="100%" height="100%" alt="" id="myImage"  ng-click="editImg()">
					</div>
				</div>
				<div id="pedata-txt">
					<button class="button icon-left button-clear button-dark" ng-click="editImg()">编辑头像</button>
					<button class="button icon-left button-clear button-dark" ui-sref="revisepassword">修改密码</button>
				</div>
			</div>
			<div class="pedata-body">
				<div class="card" >
					<a href="" class="item" ng-click="nickname()">
						昵称
						<span class="item-note" ng-bind="profile.nickname || dataInit.nickname || '点击设置'"></span>
					</a>
					<a href="" class="item" ng-click="sex()">
						性别
						<span class="item-note" ng-bind="(dataInit.sex?'男':'女') || '点击设置'"></span>
					</a>
					<a href="" class="item" ng-click="mobile()">
						手机号
						<span class="item-note" ng-bind="profile.mobile || dataInit.mobile || '点击设置'"></span>
					</a>
					<a href="" class="item" ng-click="email()">
						电子邮箱
						<span class="item-note" ng-bind="profile.email ||dataInit.email || '点击设置'"></span>
					</a>
				</div>
				<div class="card" >
					<a href="" class="item" ng-click="city_cn()">
						所属地区
						<span class="item-note" ng-bind="dataInit.city_cn || '点击设置'"></span>
					</a>
					<a href="" class="item" ng-click="type()">
						单位性质
						<span class="item-note"  ng-bind="profile.type || dataInit.type || '点击设置'"></span>
					</a>
					<a href="" class="item" ng-click="company()">
						电视台名称
						<span class="item-note"  ng-bind="profile.company || dataInit.company || '点击设置'"></span>
					</a>
				  <a href="" class="item" ng-click="department()">
						部门
						<span class="item-note"  ng-bind="profile.department || dataInit.department || '点击设置'"></span>
					</a>
				  <a href="" class="item" ng-click="position()">
						职务
						<span class="item-note"  ng-bind="profile.position || dataInit.position || '点击设置'"></span>
					</a>
				</div>
			</div>
		</ion-content>
			<script id="my-popover.html" type="text/ng-template">
			  	<ion-popover-view>
			    	<ion-content overflow-scroll="false" has-bouncing="false">
			      	<p href="" class="item" style="text-align: center;">
							更改头像
						</p>
						<a href="" class="item" ng-click="openCamera();">
							拍照
						</a>
						<a href="" class="item" ng-click="openImagePicker()">
							从相册中选择
						</a>
			    	</ion-content>
			  	</ion-popover-view>
			</script>
			<script id="city_cn.html" type="text/ng-template">
				<!-- <div class="province" ng-if="!add.province" >
					<div class="add-checkbox" ng-repeat="item in province.data" ng-click="getProvince($event,item.level,item.id)" ng-model="add.province" ng-value="item.id"><span>{{item.name}}</span></div>
				</div>
				<div class="city" ng-if="add.province">
					<div class="add-checkbox" ng-repeat="item in city.data" ng-click="getCity($event,item.level,item.id)" ng-model="add.city" ng-value="item.id" ><span>{{item.name}}</span></div>
				</div>
				<div class="district" ng-if="add.city">
					<div class="add-checkbox" ng-repeat="item in district.data" ng-click="getDistrict($event,item.level,item.id)" ng-model="add.district" ng-value="item.id" ><span>{{item.name}}</span></div>
				</div> -->
				
			</script>
</ion-view>