<ion-view>
	<style>
		
	</style>
	<ion-header-bar align-title="center">
  		<button class="button button-clear"  ng-click="goBack()"><i class="icon ion-ios-arrow-back"></i></button>
  	  	<h1 class="title">用户管理</h1>
  		<button class="button button-clear" style="background: url(img/icon/ico_53.png) right 0 no-repeat;width: 85px;color: #fff;-webkit-background-size: 30px 30px;background-size: 25px 25px;">编辑</button>
  	</ion-header-bar>
  	<ion-content overflow-scroll="false" has-bouncing="true" >
		

  	</ion-content>
</ion-view>