<ion-view view-title="">
	<ion-header-bar class="bar-light">
		<button class="button button-clear" ng-click="goBack()" style="padding-left: 8px;"><i class="ion-ios-arrow-back"></i></button>
		<div class="title"></div>
	</ion-header-bar>
	
  	<ion-content class="padding" overflow-scroll="false" has-bouncing="true" style="background: #f9f9f9;" >
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="请输入新闻标题">
            </label>
        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="请输入新闻正文">
            </label>
        </div>
        <i class="ion-flag"></i>
        <i class="ion-document-text"></i>
        <i class="ion-videocamera"></i>
        <i class="ion-camera"></i>
  	</ion-content>
</ion-view>
