<ion-view view-title="北京电视台--1983">
	<style type="text/css">
		.bar-header{
			background: red;
		}
		.header-item{
			color: #fff;
		}
		.ion-ios-search{
			font-size: 30px;
		}
		.boulticon{
			background: url(./img/images/boult-02.png) no-repeat right center;
		}
	</style>
	<ion-nav-bar>
		<ion-nav-buttons side="right">
			<i class="ion-ios-search"></i>
		</ion-nav-buttons>
	</ion-nav-bar>
	
 	<ion-content class="padding">
 		<div class="card">
 		  <div class="item item-text-wrap">
 		  	<div class="list list-inset">
 		  	    <a class="item ">
 		  	      希拉里败选后首度公开露面:大选凸显美国对立
 		  	      <p class="boulticon">
 		  	      	<span class="subdued">2016-12-11</span>
 		  	      	<span class="subdued">12:12:12</span>
	  	          </p>
 		  	    </a>
 		  	    <a class="item ">
 		  	      希拉里败选后首度公开露面:大选凸显美国对立
 		  	      <p class="boulticon">
 		  	      	<span class="subdued">2016-12-11</span>
 		  	      	<span class="subdued">12:12:12</span>
	  	          </p>
 		  	    </a>
 		  	    <a class="item ">
 		  	      希拉里败选后首度公开露面:大选凸显美国对立
 		  	      <p class="boulticon">
 		  	      	<span class="subdued">2016-12-11</span>
 		  	      	<span class="subdued">12:12:12</span>
	  	          </p>
 		  	    </a>
 		  	</div>
 		  </div>
 		</div>
 		<div class="card">
 		  <div class="item item-text-wrap">
 		  	<div class="list list-inset">
 		  	    <a class="item ">
 		  	      希拉里败选后首度公开露面:大选凸显美国对立
 		  	      <p class="boulticon">
 		  	      	<span class="subdued">2016-12-11</span>
 		  	      	<span class="subdued">12:12:12</span>
	  	          </p>
 		  	    </a>
 		  	    <a class="item ">
 		  	      希拉里败选后首度公开露面:大选凸显美国对立
 		  	      <p class="boulticon">
 		  	      	<span class="subdued">2016-12-11</span>
 		  	      	<span class="subdued">12:12:12</span>
	  	          </p>
 		  	    </a>
 		  	    <a class="item ">
 		  	      希拉里败选后首度公开露面:大选凸显美国对立
 		  	      <p class="boulticon">
 		  	      	<span class="subdued">2016-12-11</span>
 		  	      	<span class="subdued">12:12:12</span>
	  	          </p>
 		  	    </a>
 		  	</div>
 		  </div>
 		</div>
 		<div class="card">
 		  <div class="item item-text-wrap">
 		  	<div class="list list-inset">
 		  	    <a class="item ">
 		  	      希拉里败选后首度公开露面:大选凸显美国对立
 		  	      <p class="boulticon">
 		  	      	<span class="subdued">2016-12-11</span>
 		  	      	<span class="subdued">12:12:12</span>
	  	          </p>
 		  	    </a>
 		  	    <a class="item ">
 		  	      希拉里败选后首度公开露面:大选凸显美国对立
 		  	      <p class="boulticon">
 		  	      	<span class="subdued">2016-12-11</span>
 		  	      	<span class="subdued">12:12:12</span>
	  	          </p>
 		  	    </a>
 		  	    <a class="item ">
 		  	      希拉里败选后首度公开露面:大选凸显美国对立
 		  	      <p class="boulticon">
 		  	      	<span class="subdued">2016-12-11</span>
 		  	      	<span class="subdued">12:12:12</span>
	  	          </p>
 		  	    </a>
 		  	</div>
 		  </div>
 		</div>
  	</ion-content>
</ion-view>
