<ion-view view-title="北京电视台">
  	<ion-header-bar align-title="center">
	  	<button class="button" id="account-logo" ng-click="doSomething()"></button>
  	  	<h1 class="title">北京电视台</h1>
  	   	<button class="button button-clear" ng-click="goSetting()"><i class="icon ion-ios-gear-outline"></i></button>
  	</ion-header-bar>
		<div class="account-main-top padding">
			<div class="account-title1">我的新闻</div>
			<div class="account-title2"><span  class="account-title-txt">{{data.data.yueg_count||'--'}}</span> 篇</div>
		</div>
		<div class="account-main-center padding">
			<div class="account-main-center-l">
				<p>约稿信息</p>
				<p style="font-size: 24px;">{{data.data.weid_count||'--'}}</p>
			</div>
			<div class="account-main-center-r">
				<p>系统信息</p>
				<p style="font-size: 24px;">{{data.data.xit_count||'--'}}</p>
			</div>
		</div>
		<div  class="account-main-bottom">
			
			<button class="button" ng-click="jumpTo()">
			  <img src="img/icon/ico_22.png" alt="" width="30"><br/>用户管理
			</button>
			<button class="button">
			  <img src="img/icon/ico_27.png" alt="" width="30"><br/>所有新闻
			</button>
			<button class="button">
			  <img src="img/icon/ico_24.png" alt="" width="30"><br/>所有串联单
			</button>
			<button class="button">
			  <img src="img/icon/ico_33.png" alt="" width="30"><br/>已报题单
			</button>
			<button class="button">
			  <img src="img/icon/ico_35.png" alt="" width="30"><br/>已划题单
			</button>
			<button class="button">
			  <img src="img/icon/ico_37.png" alt="" width="30"><br/>已播单
			</button>
			<button class="button">
			  <img src="img/icon/ico_49.png" alt="" width="30"><br/>名片盒
			</button>
			<button class="button">
			  <img src="img/icon/ico_46.png" alt="" width="30"><br/>个人资料
			</button>
			<button class="button">
			  <img src="img/icon/ico_43.png" alt="" width="30"><br/>修改密码
			</button>
		</div>
		
</ion-view>
