<ion-view view-title="业务交流">

	<ion-header-bar align-title="center">
  		<button class="button button-clear" ng-click="goBack()"><i class="icon ion-ios-arrow-back"></i></button>
  	  	<h1 class="title">业务交流</h1>
	    <!-- <button class="button button-clear" ng-click="searchClick()"><i class="ion-ios-search"></i></button> -->
  	</ion-header-bar>

  	<ion-content class="homepage search-place" overflow-scroll="false" has-bouncing="true"  on-scroll="openSearch()">
		<div class="card">
		    <label class="item item-input" style="padding: 0 0 0 16px">
		      <i class="icon ion-ios-search placeholder-icon" style="font-size: 22px;"></i>
		      <input type="text" ng-model="searchs" ng-change="getDetails(searchs)" placeholder="标题关键字">
		    </label>
		</div>
		<div class="card" id="">
			<div class="item">
				<div class="list list-inset notitle">
					<a class="item" ng-repeat="item in vm.items"  ng-click="goNewDetailPage(item.aid)" >
					  {{item.title}}
					  	<p class="boulticon">
					  		<span class="subdued">{{item.postdate}}</span>
	 		  	      		<i class="ion-ios-arrow-thin-right" style="float: right;font-size: 30px;" ></i>
						</p>
					</a>
				</div>
			</div>
 		</div>
		<ion-infinite-scroll immediate-check="true"  ng-if="vm.moredata" on-infinite="vm.loadMore()" distance="1%"></ion-infinite-scroll>
  	</ion-content>
</ion-view>