<ion-view view-title="北京电视台">
  	<ion-header-bar align-title="center">
	  	<div id="account-logo" ng-click="doSomething()" ui-sref="tab.personal-data" ><img ng-src="{{img}}" width="100%" height="100%" alt=""></div>
  	  	<h1 class="title">北京电视台</h1>
  	   	<button class="button button-clear" ng-click="goSetting()"><i class="icon ion-ios-gear-outline"></i></button>
  	</ion-header-bar>
  	<ion-content overflow-scroll="false" has-bouncing="true">
 		<ion-refresher
		    pulling-text="下拉刷新..."
		    spinner="bubbles"
		    class="spinner-energized"
		    on-refresh="doRefresh()">
		</ion-refresher>
		<div class="account-main-top padding">
			<div class="account-title1">我的新闻</div>
			<div class="account-title2"><span  class="account-title-txt">{{data.data.new_count||'0'}}</span> 篇</div>
		</div>
		<div class="account-main-center padding">
			<div class="account-main-center-l" ui-sref="tab.inbox({index:0})">
				<p>约稿信息</p>
				<p style="font-size: 24px;">{{data.data.yueg_count||'0'}}</p>
			</div>
			<div class="account-main-center-r" ui-sref="tab.inbox({index:1})">
				<p>系统信息</p>
				<p style="font-size: 24px;">{{data.data.xit_count||'0'}}</p>
			</div>
		</div>
		<div  class="account-main-bottom">
			<button class="button" ng-click="jumpTo()">
			  <img src="img/icon/ico_22.png" alt="" height="35"><br/>用户管理
			</button>
			<button class="button" ui-sref="tab.allnews">
			  <img src="img/icon/ico_27.png" alt="" height="35"><br/>所有新闻
			</button>
			<button class="button" ui-sref="tab.allchuanlian">
			  <img src="img/icon/ico_24.png" alt="" height="35"><br/>所有串联单
			</button>
			<button class="button" ui-sref="tab.alreadyreport">
			  <img src="img/icon/ico_33.png" alt="" height="35"><br/>已报题单
			</button>
			<button class="button" ui-sref="tab.alreadysweep">
			  <img src="img/icon/ico_35.png" alt="" height="35"><br/>已划题单
			</button>
			<button class="button" ui-sref="tab.overplay">
			  <img src="img/icon/ico_37.png" alt="" height="35"><br/>已播单
			</button>
			<button class="button" ui-sref="tab.cardcase">
			  <img src="img/icon/ico_49.png" alt="" height="35"><br/>名片盒
			</button>
			<button class="button" ui-sref="tab.personal-data">
			  <img src="img/icon/ico_46.png" alt="" height="35"><br/>个人资料
			</button>
			<button class="button" ui-sref="revisepassword">
			  <img src="img/icon/ico_43.png" alt="" height="35" ><br/>修改密码
			</button>
		</div>
  	</ion-content>
</ion-view>
