<ion-view view-title="业务交流">

	<ion-header-bar align-title="center">
  		<button class="button button-clear" ng-click="goBack()"><i class="icon ion-ios-arrow-back"></i></button>
  	  	<h1 class="title">业务交流</h1>
	    <button class="button button-clear" ng-click="searchClick()"><i class="ion-ios-search"></i></button>
  	</ion-header-bar>
	<div class="item-input-inset" style="width: 100%;padding: 0 17px;top: 68px;">
  	   	<label class="item-input-wrapper">
  		    <input type="text" ng-model="searchs" ng-change="getDetails(searchs)" placeholder="标题关键字">
  	   	</label>
  	</div>
  	<ion-content class="homepage search-place" overflow-scroll="false" has-bouncing="true"  on-scroll="openSearch()">
		<div class="card" id="">
 			<div class="title-img" style="background-color: #429afe;box-shadow:0 6px 10px 2px #dddbe5;">
 				业务交流
 			</div>
			<div class="item">
				<div class="list list-inset">
					<a class="item" ng-repeat="item in items"  ng-click="goNewDetailPage(item.aid)" >
					  {{item.title}}
					  	<p class="boulticon">
					  		<span class="subdued">{{item.postdate}}</span>
	 		  	      		<i class="ion-ios-arrow-thin-right" style="float: right;font-size: 30px;" ></i>
						</p>
					</a>
				</div>
			</div>
 		</div>
		<ion-infinite-scroll immediate-check="true"  ng-if="noMore" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
  	</ion-content>
</ion-view>