 <style>
 .tab-item{
  max-width: 200px;
 }
 #aboutmore{
  position: absolute;
  width:60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px #fff4f4 inset;
  top: -20px;
 }
 #aboutmore a {
  display: block;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background: #fe3434; 
  position: absolute;
  top: 0;right: 0;bottom: 0;left: 0;
  margin: auto auto;
  color: #fafafa;
  font-size: 35px;
 }
 </style>
<ion-tabs class="tabs-light tabs-icon-top tabs-color-active-assertive" style="background: #fff;" >

  <ion-tab title="新闻" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/news">
    <ion-nav-view name="tab-news"></ion-nav-view>
  </ion-tab> 
<!-- <button class="button icon ion-gear-a"></button> -->
  
  <!-- <div id="aboutmore" ><a class="button button-icon icon">+</a></div> -->

  <ion-tab title="个人中心" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
