#account-logo{
	width: 38px;height: 38px;
	border-radius: 50%;
	background-color: #fff;
	overflow: hidden;
	position: relative;
}
#account-logo img{
	display: block;
	position: absolute;
	top:0;left: 0;right: 0;bottom: 0;
	margin: auto auto;
}
.account-main-top{
	border-bottom: #fdd7c9 1px solid;
	background:  url(../img/myself_01.jpg) 0 0 no-repeat;
	background-size: 100% 100%;
}
.account-title1,.account-title2{
	text-align: center;
	color: #fff;
	font:16px 'microsoft yahei';
	padding-top: 20px;
}
.account-title2{
	padding: 20px 0;

}
.account-title2 .account-title-txt{
	font-size: 50px;
}
.account-main-center{
	background: #fc7f4d;
}
.account-main-center {
	height: 80px
}
.account-main-center>div{
	float: left;
	color: #fff;
	width: 50%;
	font-size: 16px;
}
.account-main-bottom{
	border-top:1px solid #eaeaea;
	margin-top: 10px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap:wrap;
	    flex-wrap:wrap;
	-ms-flex-pack:center;
	    justify-content:center;
}
.button{
	background: #ffffff;
}
.account-main-bottom .button{
	width: 33%;
	height: 100px;
	float: left;
	color: #3f3f3f;
	line-height: 24px;
	font-size: 14px;
	font-family: 'microsoft yahei';
	border-radius: 0;
	border-width: 0 1px 1px 0;
	border-color: #eaeaea;
	border-style: solid;
}
.account-main-bottom .button:nth-child(3n){
	border-right: none;
}
.account-main-bottom .button .icon{
	color: #fe4f4f;
}