/* Empty. Add your own CSS if you like */
.bar.bar-header{
	background: url(../img/header_03.jpg) left top no-repeat;
}
.bar.bar-header .title{
	color: #fff;

}
.bar.bar-header .button i{
	color: #fff;
}
.popup-container .popup{
	border-radius: 5px;
}
.popup-buttons{
	padding: 0;
	min-height: 35px;
}
.popup-title{
	font-weight: bold;
}
.popup-buttons .button{
	min-height: 40px;
}
.popup-buttons .button-positive{
	margin: 0;
	background-color: #fe4342;
}
.button.button-positive.activated{
	background: red;
}

.popover{
	opacity: 1;
	border-radius: 0;
	margin: 0;padding: 0;
	bottom: 0;left: 0;
	width: 100%;
}
