.tabbed-slidebox{
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
            flex-direction: column;
}
.tabbed-slidebox .slider {
    flex-grow: 1;
    height: 100%;
}
.tabbed-slidebox.btm .slider {
    margin-bottom: -50px;
}
.tabbed-slidebox .slider-slides {
    width: 100%;
}

.tabbed-slidebox .slider-slide {
    padding-top: 0px;
    height: 100%;
}

.tabbed-slidebox .tsb-icons {
	background-color:#fff;
    box-shadow: 0 5px 7px #e6e6e6;
}

.tabbed-slidebox .tsb-ic-wrp {
    display: flex;
    position: relative;
	-webkit-transition: -webkit-transform 0.3s; /* For Safari 3.1 to 6.0 */
	-webkit-transform:translate3d(0,0,0);
}

.tabbed-slidebox .tsb-icons a {
    display: inline-block;
    width: 54px;
    color: rgba(0, 0, 0, 0.3);
}

.tabbed-slidebox .tsb-icons a.active {
    color: rgba(0, 0, 0, 1);
	-webkit-transform:translate3d(0,0,0);
}

.tabbed-slidebox .tabbed-slidebox {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.tabbed-slidebox .tsb-icons:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 1.4em 1.4em 1.4em;
    border-color: transparent transparent #0398dc transparent;
    position: absolute;
    content: "";
    display: block;
    bottom: -12px;
    left: 50%;
    margin-left: -14px;
}
.tsb-hscroll.scroll-view{
  	white-space: nowrap;
	margin:0 auto;
}
.tsb-hscroll.scroll-view .scroll-bar{
	visibility:hidden;
}
.tsb-hscroll.scroll-view .scroll.onscroll{
	-webkit-transition: -webkit-transform 0.3s; /* For Safari 3.1 to 6.0 */
}

.tabbed-slidebox .tsb-icons .scroll a{
	width:auto;
	text-decoration: none;
	margin: 0 7px;
    color: #737373;
    font-size: 15px;
    line-height: 40px;
}
.tabbed-slidebox .tsb-icons .scroll a.active {
    color: #ff8651;
}